<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <section class="form-main-div">
      <form action="/login" method="post">
        <div class="addPostHeading">
          <h2>Login to your account</h2>
          <button>
            <a href="/">Back</a>
          </button>
        </div>
        <% if(errorMessage) { %>
        <p class="errorMessage"><%= errorMessage %></p>
        <% } %>
        <div class="inputDiv">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            value="<%= oldData.email %>"
          />
        </div>
        <div class="inputDiv">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            value="<%= oldData.password %>"
          />
        </div>
        <a class="forgotpasswordRef" href="/resetPassword"
          >Forgotten your password?</a
        >
        <button type="submit">Login</button>
      </form>
    </section>
  </body>
</html>
