<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include ('../includes/navbar') -%>
    <section class="form-main-div">
      <form action="/changeNewPassword" method="post">
        <div class="addPostHeading">
          <h2>Create your new password</h2>
          <button>
            <a href="/">Back</a>
          </button>
        </div>
        <% if(errorMessage) { %>
        <p class="errorMessage"><%= errorMessage %></p>
        <% } %>
        <input hidden name="userId" value="<%= userId %>" />
        <input hidden name="resetToken" value="<%= resetToken %>" />
        <div class="inputDiv">
          <label for="newPass">Enter your new password</label>
          <input
            type="password"
            id="newPass"
            name="newPassword"
            value="<%= oldData.newPassword %>"
          />
        </div>
        <div class="inputDiv">
          <label for="confirmPassword">Confirm your password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            value="<%= oldData.confirmPassword %>"
          />
        </div>
        <button type="submit">Create password</button>
      </form>
    </section>
  </body>
</html>
