<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include ('./includes/navbar') -%>
    <section class="form-main-div">
      <form action="/admin/editPost" method="post" novalidate>
        <div class="editPostHeading">
          <h2>Edit your post</h2>
          <button>
            <a href="/post/<%= isValidationFail? postId : post._id %>">Back</a>
          </button>
        </div>
        <% if(errorMessage) { %>
        <p class="errorMessage"><%= errorMessage %></p>
        <% } %>
        <input
          type="text"
          name="postId"
          value="<%= isValidationFail ? oldData.postId : post._id %>"
          hidden
        />
        <div class="inputDiv">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= isValidationFail ? oldData.title : post.title %>"
            required
          />
        </div>
        <div class="inputDiv">
          <label for="imgurl">Image URL</label>
          <input
            type="text"
            id="imgurl"
            name="imageUrl"
            value="<%= isValidationFail ? oldData.imageUrl : post.imageUrl %>"
            required
          />
        </div>
        <div class="inputDiv">
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
            required
          >
<%= isValidationFail ? oldData.description : post.description %></textarea
          >
        </div>
        <button type="submit">Edit Post</button>
      </form>
    </section>
  </body>
</html>
