<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/1ca4314e35.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="postDetail-Box">
      <div class="postDetail">
        <div class="btnAndtitle">
          <h1><%= post.title %></h1>
          <div class="buttons">
            <button>
              <a href="/"><i class="fa-solid fa-backward"></i></a>
            </button>
            <% if(isLogin && currentUserId.toString() ===
            post.userId._id.toString()) { %>
            <form action="/admin/delete/<%= post._id %>" method="post">
              <button type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
            <button>
              <a href="/admin/edit/<%= post._id %>"
                ><i class="fa-regular fa-pen-to-square"></i
              ></a>
            </button>
            <% } %>
          </div>
        </div>
        <p>Posted by <%= post.userId.email %></p>
        <% if(time) { %>
        <p>Uploaded at <%= time %></p>
        <% } %>
        <img src="<%= post.imageUrl %>" alt="post image" />
        <p><%= post.description %></p>
      </div>
    </section>
  </body>
</html>
