<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/1ca4314e35.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include ('./includes/navbar') -%>
    <section class="postDetail-Box">
      <div class="postDetail">
        <div class="btnAndtitle">
          <h1><%= post.title %></h1>
          <a href="/"
            ><button><i class="fa-solid fa-backward"></i></button
          ></a>
        </div>
        <p class="detailUserInfo">
          <i class="fa-solid fa-user"></i> <span><%= post.userId.email %></span>
        </p>
        <% if(time) { %>
        <p class="detailUserInfo">
          <i class="fa-regular fa-calendar-days"></i> <span><%= time %></span>
        </p>
        <div class="buttons">
          <% if(isLogin && currentUserId.toString() ===
          post.userId._id.toString()) { %>
          <button>
            <a href="/admin/edit/<%= post._id %>"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
          </button>
          <a href="/save/<%= post._id %>"
            ><button><i class="fa-solid fa-file-arrow-down"></i></button
          ></a>
          <form action="/admin/delete/<%= post._id %>" method="post">
            <button type="submit"><i class="fa-solid fa-trash"></i></button>
          </form>

          <% } %>
        </div>
        <% } %> <img src="<%= "/" + post.imageUrl %>" alt="post image" />
        <p><%= post.description %></p>
      </div>
    </section>
  </body>
</html>
