<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/1ca4314e35.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include ('../includes/navbar') -%>
    <section class="postsBox">
      <div class="hr"></div>
      <div class="profile-head">
        <i
          class="fa-regular fa-circle-user"
          style="font-size: 55px; margin-bottom: 0"
        ></i>
        <p><%= currentUser %></p>
      </div>
      <h2>Recent posts added by <%= currentUser %></h2>
      <div style="margin: 10px 20px">
        <% if(postsArr.length === 0 && isLogin) { %>
        <div class="postBox">
          <div>
            <p>There is no posts to see</p>
            <p>You can start create your own post!!</p>
          </div>
          <button>
            <a href="/admin/addPost">Create new Post</a>
          </button>
        </div>
        <% } %>
        <div class="posts-Flexbox">
          <% for(let post of postsArr) { %>
          <div class="postBox">
            <img src="/<%= post.imageUrl %>" alt="post image" />
            <div class="titlebox">
              <p style="font-size: 25px; font-weight: bold">
                <% if(post.title.length > 20) { %> <%= post.title.slice(0,20)
                %>... <% } else { %> <%= post.title %> <% } %>
              </p>
              <p>Post by <span class=""><%= post.userId.email %></span></p>
              <button>
                <a href="/post/<%= post._id %>"
                  >See more <i class="fa-solid fa-forward"></i
                ></a>
              </button>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <div class="pagination">
        <% if(hasNextPage && hasPreviousPage) { %>
        <a
          href="/profile/<%= postsArr[0].userId._id %>/?page=<%= previousPage %>"
          ><button>Previous page</button></a
        >
        <a href="/profile/<%= postsArr[0].userId._id %>/?page=<%= nextPage %>"
          ><button>Next page</button></a
        >
        <% } else if (hasNextPage && !hasPreviousPage) { %>
        <a href="/profile/<%= postsArr[0].userId._id %>/?page=<%= nextPage %>"
          ><button>Next page</button></a
        >
        <% } else if (!hasNextPage && hasPreviousPage) { %>
        <a
          href="/profile/<%= postsArr[0].userId._id %>/?page=<%= previousPage %>"
          ><button>Previous page</button></a
        >
        <% } %>
      </div>
    </section>
  </body>
</html>
